.error {
    color: red;
    font-size: 0.9em;
}

.attachment-container {
    display: flex;
    align-items: center;
}

.attachment-container .btn {
    margin-left: 10px;
}

.attachment-info {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.hidden-input {
    display: none;
}